html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100%;
}

nav.left {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  background: #1b526d;
  color: white;
}

.bg-gray {
  background: #9c9c9c;
}

.gray {
  color: #9c9c9c;
}

.bg-black {
  background: #212121;
}

.black {
  color: #212121;
}

.bg-blue {
  background: #1b526d;
}
.blue {
  color: #1b526d;
}

.bg-white {
  background: #ffffff;
}
.white {
  color: #ffffff;
}

nav.top {
  background: #212121;
  width: 100%;
  height: 75px;
}

button {
  border: none;
  background: none;
}

.btn-oval {
  background-color: #212121;
  border-radius: 40px;
  padding: 10px 30px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
  text-align: center;
}

a,
a:visited {
  color: white;
}

a.active {
  background: #212121;
  color: white;
  text-decoration: none;
}

.flex-grow {
  flex-grow: 1;
}